body {
    background-color: var(--bs-tertiary-bg);
}
.card {
    border-radius: 1rem;
}
table.dataTable {
    width: 100% !important;
}
.card-body {
    padding: 1.5rem;
}
.table thead th {
    vertical-align: middle;
    text-align: center !important;
}
table.dataTable th,
table.dataTable td {
    white-space: nowrap;
    text-align: center !important;
    vertical-align: middle !important;
}

.dataTables_wrapper .dataTables_scroll {
    overflow: auto;
}

/* Bordes para DataTables */
.table-striped.table-bordered {
    border: 1px solid var(--bs-border-color) !important;
}
.table-bordered th, .table-bordered td {
    border: 1px solid var(--bs-border-color) !important;
}
.table thead th {
    border-bottom: 2px solid var(--bs-border-color) !important;
}

/* Reducir tamaño de fuente de manera estricta a la tabla para evitar que crezca tras una recarga de Ajax */
#correspondencia th,
#correspondencia td {
    font-size: 0.75rem;
    padding: 0.4rem !important;
}

#correspondencia thead th {
    padding: 0.5rem !important;
}

/* Animación para el punto rojo */
@keyframes blinker {
    50% { opacity: 0; }
}
.blink {
    animation: blinker 1s linear infinite;
}

/* Estilos mejorados y más definidos para las pestañas */
.nav-tabs {
    border-bottom: 2px solid var(--bs-border-color);
}
.nav-tabs .nav-item {
    margin-right: 4px;
}
.nav-tabs .nav-link {
    border: 3px solid #0d6efd;
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
    border-radius: 0.4rem 0.4rem 0 0;
    padding: 0.6rem 1rem;
    transition: all 0.2s;
    font-weight: bold;
    font-size: 0.85rem;
}
.nav-tabs .nav-link.active {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    font-weight: bold;
    color: #ffffff !important;
    margin-bottom: -2px; /* Oculta el borde inferior fusionándose con el fondo */
}

/*
OTRO MODELO DE PESTAÑA
.nav-tabs .nav-link.active {
    background-color: var(--bs-body-bg);
    border-color: var(--bs-border-color) var(--bs-border-color) var(--bs-body-bg) var(--bs-border-color);
    border-top: 5px solid #0d6efd;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    font-weight: bold;
    color: #0d6efd;
    color: #ffffff !important;
    margin-bottom: -2px;
}
*/

/* Inputs especiales */
.form-check-input[type="radio"] {
    border: 2px solid #4d5a6b;
}

/* Estilo para el formulario del libro de entregas */
#formLibroEntregas {
    border: 2px solid #0d6efd !important;
}
